* text=auto

# Unity YAML
*.unity    text eol=lf merge=unityyamlmerge
*.prefab   text eol=lf merge=unityyamlmerge
*.asset    text eol=lf merge=unityyamlmerge
*.mat      text eol=lf merge=unityyamlmerge
*.anim     text eol=lf merge=unityyamlmerge
*.controller text eol=lf merge=unityyamlmerge
*.meta     text eol=lf

*.cs       text eol=lf diff=csharp

# Binary
*.png  binary
*.jpg  binary
*.psd  binary
*.fbx  binary
*.wav  binary
*.mp3  binary
*.ogg  binary
